<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/output.css" rel="stylesheet">
    <link rel="stylesheet" data-purpose="Layout StyleSheet" title="Web Awesome" href="/css/app-wa-fba26eda6a3fd6b4d0ce0def1e2ba1d7.css?vsn=d">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    
        *
        {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Helvetica, Arial, sans-serif;
        }
    
        html 
        {
            scroll-behavior: smooth;
        }
    
        li:hover #hover-content 
        {
            display: block;
        }
    
        #hover-content 
        {
            top: 100%;
            z-index: 10; 
        }
    
        #hover-content a:hover
        {
            color: rgb(43, 42, 42);
        }
    
        .product:hover,
        .home:hover
        {
            color: rgb(185, 185, 185);
        }
    
        #hover-content a
        {
            margin: 0 10px 0 10px;
        }
    
        .account
        {
            cursor: pointer;
        }
    
        .item
        {
            cursor: pointer;
        }
    
        .banner 
        {
            margin-top: -50px;
        }
    
        #menuToggle
        {
            cursor: pointer;
        }
        .menu-items 
        {
            list-style-type: none;
            padding: 0;
        }
    
        .menu-items li 
        {
            color: #333;
            margin-bottom: 10px;
            white-space: nowrap; 
        }
    
        .menu-items li:hover 
        {
            cursor: pointer;
            color: #777;
        }
    
        .dropdown-menu 
        {
            position: absolute;
            background-color: #fff;
            border: 1px solid #ccc;
            padding: 30px;
            top: 100%; 
            left: 0;
        }
    
        .mini
        {
            background: rgb(191,191,224);
            background: linear-gradient(90deg, rgba(191,191,224,1) 19%, rgba(0,212,255,1) 64%);
        }
    </style>
</head>
<body>
    <header class="sticky top-0 z-50 header">
        <!-- Top header -->
        <div class="relative bg-gray-100 top-header">
            <div class="container xl:mx-auto">
                <div class="flex justify-between">
                    <div class="flex welcome">
                        <li class="mt-4 mb-4 mr-4 text-gray-400 list-none">Welcome to our shop</li>
                        <li class="mt-4 mb-4 mr-4 text-gray-400 list-none"><i class="mr-2 text-orange-500 fa-duotone fa-phone"></i>Call us: 0395xxxxxxxx</li>
                    </div>
                    <div class="flex flex-row-reverse">
                        <li class="relative mt-4 mb-4 mr-4 text-gray-400 list-none transition duration-300 account">
                            <% if(Name) {%>
                                Xin chào <%= Name.name %>
                            <%} else{%> 
                                My Account    
                            <%}%>
                            <i class="fa-solid fa-caret-down"></i>
                            <div class="absolute right-0 hidden p-4 bg-white border border-gray-200 shadow-md top-full" id="hover-content">
                                <div class="flex flex-col">
                                    <% if (user) { %>
                                        <% if (user.data.role == "admin") {%>
                                             <a id="AdminButton" href="/admin/manage">Manage</a>
                                         <%}%>
                                             <a id="logoutButton" href="">Logout</a>
                                     <% } else { %>
                                         <a id="LoginButton" href="/login">Login</a>
                                         <a id="RegisterButton" href="/register">Register</a>
                                     <% } %>
                                </div>
                            </div>
                        </li>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom header -->
        <div class="bg-white bottom-header">
            <div class="container xl:mx-auto">
                <div class="flex justify-between">
                    <div class="flex flex-row">
                        <img class="" src="/src/img/logo.png" alt="">
                    </div>
                    <div class="flex flex-row-reverse">
                        <li class="mt-10 mr-5 text-xl text-gray-700 list-none item mb-9"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></li>
                        <li class="mt-10 mr-5 text-xl text-gray-700 list-none shadow-md item mb-9 rounded-xl">
                            <input class="pl-3 border border-none focus:outline-none rounded-xl active" type="text" placeholder="Tìm kiếm...."></li>
                        <a class="mt-10 mr-5 text-xl text-gray-700 list-none item product mb-9" href="/contact">Liên hệ</a>
                        <a class="mt-10 mr-5 text-xl text-gray-700 list-none item product mb-9" href="/productlist">Sản phẩm</a>
                        <a class="mt-10 mr-5 text-xl text-gray-700 list-none item home mb-9" href="/">Trang chủ</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--Product info-->
    <section>
        <div class="container px-4 py-8 mx-auto">
            <% if (product){%>
            <div class="flex flex-col lg:flex-row">
                <div class="pr-8 border-r border-gray-300 lg:w-1/2">
                    <img src="<%= product.data.image %>" class="object-cover w-full h-auto lg:h-full">
                </div>
                <div class="mt-4 lg:w-1/2 lg:pl-8 lg:mt-0">
                    <h2 class="mt-20 text-5xl font-bold mb-9"><%= product.data.name %></h2>
                    <p class="mb-10 text-3xl font-bold text-red-600"><%= product.data.price %></p>
                    <% if (user) { %>
                        <% if (user.data.role == "user") {%>
                            <button id="buttonOrder" class="px-6 py-4 text-xl font-bold text-white bg-blue-500 rounded hover:bg-blue-700">Thanh Toán</button>
                        <%}%>
                    <%}%>
                </div>
            </div>
            <%} else{%>
                <span>Sản phẩm hiện không tồn tại, vui lòng trở về <a href="/">Trang chủ</a></span>
            <%}%>
        </div>
    </section>

    <!-- footer -->
    <footer class="p-12 bg-slate-100 mt-36">
        <div class="container mx-auto">
            <div class="flex items-center justify-between">
                <p class="text-xl text-gray-500">Ngôn ngữ phát triển ứng dụng mới</p>
                <ul class="flex">
                    <li class="mr-6"><a href="/" class="text-xl text-gray-500">Home</a></li>
                    <li class="mr-6"><a href="#" class="text-xl text-gray-500">About</a></li>
                    <li><a href="#" class="text-xl text-gray-500">Contact</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
<script>
    document.getElementById('logoutButton').addEventListener('click', function(event) {
        event.preventDefault(); 
        
        console.log("Logout Successfully");
        fetch('/api/v1/vzconn/auth/logout', {
            method: 'POST',
        })
        .then(response => response.json())
        .then(data => {
            console.log(data); 
            if (data.success) {
                window.location.href = '/';
            } 
        })
        .catch(error => {
            console.error('Error:', error); 
        });
    });

    document.getElementById('buttonOrder').addEventListener('click', function(event)
    {
        event.preventDefault(); 
        fetch('/api/v1/vzconn/order/createNew', {
            method: 'POST',
        })
        .then(response => response.json())
        .then(data => {
            console.log(data); 
            next();
        })
        .catch(error => {
            console.error('Error:', error); 
        });

        const url = window.location.href;
        const pathSegments = url.split('/');
        const lastSegment = pathSegments[pathSegments.length - 1];
        const productId = decodeURIComponent(lastSegment);
        console.log(productId);
        const data = {
            IdProduct: productId
        };

        fetch('/api/v1/vzconn/order/intobill', {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {
                "Content-Type": "application/json"
              }
        })
        .then(response => response.json())
        .then(data => {
            console.log(data); 
            if (data.success) {
                window.location.href = '/ordersuccessfully';
            } 
        })
        .catch(error => {
            console.error('Error:', error); 
        });


    });
</script>
</html>